<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanitytest" parallel ="methods">  
  
   <test name="Apptest" allow-return-values="true"> 
    <classes>
      <class name="Swift.AppTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
